@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {
    height: 50px;
    width: 100px;
    padding-left: 40px;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    font-weight: 600;
    transition: color 0.5s;
}

.nav-link:hover {
    color: green !important;
}

.section-home {
    height: 350px;
    padding: 20px;
}

.section-home img {
    height: 100%;
    width: 100%;
}

.section-home-content {
    height: 300px;
    padding: 30px;
}

.section-home-content h1 {
    font-family: Roboto;
    font-weight: bold;
}

.section-home-content p {
    font-family: Roboto;
}

.section-home-content button {
    border: 2px solid green;
    background-color: transparent;
    height: 35px;
    width: 110px;
    font-size: 12px;
    font-family: Roboto;
    color: green;
    border-radius: 5px;
    transition: 0.5s;
}

.section-home-content button:hover {
    background-color: green;
    color: #fff;
    font-weight: 600;
    transform: translateY(5px);
}

.section {
    height: 180px;
    padding-top: 30px;
    text-align: center;
    border: 2px solid darkgreen;
    border-radius: 10px;
    transition: 0.8s;
}

.section:hover {
    transform: translateY(-10px);
    background-color: skyblue;
}

.fa-solid {
    font-size: 30px;
    color: green;
}

.section h1 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
}

.section p {
    font-family: Roboto;
    font-size: 12px;
}

.service {
    height: 250px;
    border: 2px solid darkgreen;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;
    transition: 0.8s;
}

.service:hover {
    transform: translateY(-10px);
    background-color: orange;
}

.service h1 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
}

.service button {
    border: 2px solid green;
    background-color: transparent;
    height: 35px;
    width: 110px;
    font-size: 12px;
    font-family: Roboto;
    color: green;
    border-radius: 5px;
    transition: 0.5s;
}

.service button:hover {
    background-color: green;
    color: #fff;
    font-weight: 600;
    transform: translateY(5px);
}

.service p {
    font-family: Roboto;
    font-size: 12px;
}

.service-main {
    text-align: center;
    margin-top: 100px;
}

.service-main h1 {
    color: green;
    font-family: Roboto;
    font-weight: bold;
}

.service-main span {
    color: black;
}

.our-doctors {
    height: 380px;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    transition: 0.8s;
}

.our-doctors:hover {
    transform: translateY(-10px);
    background-color: skyblue;
}

.our-doctors img {
    height: 150px;
    border: 2px solid green;
    border-radius: 8px;
}

.fa-brands {
    font-size: 18px;
    color: green;
    height: 40px;
    margin-left: 8px;
    border: 2px solid green;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
    width: 40px
}

.fa-brands:hover {
    color: #fff;
    background-color: green;
    transform: translateY(5px);
    font-weight: bold;
}

.fa-brands h3 {
    font-family: Roboto;
    font-weight: 600;
    padding-top: 8px;
}

.fa-brands p {
    font-family: Roboto;
}

.section-home-content input {
    width: 70%;
    margin-top: 10px;
    font-weight: 200;
    font-size: 12px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid green;
    margin-bottom: 10px;
}

.heading {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
}

.review-section {
    height: 420px;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
}

.review-section img {
    border-radius: 50%;
    border: 5px solid #fff;
    height: 70px;
    width: 60px;
    margin-top: 20px;
}

.checked {
    color: orange;
}

.review-section h3 {
    font-size: 20px;
    color: #fff;
}

.review {
    background-color: green;
    height: 170px;
    border-radius: 0 0 50% 50%;
    padding-bottom: 12px;
}

.review-para {
    font-family: Monospace;
    font-style: italic;
    padding: 10px;
    width: 100%;
}

.quick-links h3 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
    padding-left: 30px;
}

.quick-links ul {
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
}